<%- include('./includes/head.ejs') -%>
    <div class="fixed w-full h-50">
        <%- include('./includes/header.ejs') -%>
            <%- include('./includes/side.ejs') -%>
    </div>

    <%- include('./includes/header.ejs') -%>
        <div class="flex align-start ">
            <%- include('./includes/side.ejs') -%>
                <div class=" min-h-full w-full pr-20">
                    <div class="bg-dash absolute "> </div>
                    <div class="bg-white m-table br-8 p-20">
                        <div class="flex ju-sb ">
                            <h3>ویرایش رزرواسیون</h3>

                        </div>

                        <form class="form" action="">
                            <div class=" input">
                                <label for="fname" class="required">نام:</label><br>
                                <input name="fname" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="lname">نام خانوادگی:</label><br>
                                <input name="lname" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="gender">جنسیت:</label><br>
                                <input name="genser" list="genders">

                                <datalist id="genders">
                                    <option value="مرد">
                                    <option value="زن">
                                </datalist>
                            </div>
                            <div class=" input">
                                <label class="required" for="nid">کد ملی:</label><br>
                                <input name="nid" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="phone">شماره تماس:</label><br>
                                <input name="phone" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="address">آدرس:</label><br>
                                <input name="address" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="roomid">شناسه اتاق:</label><br>
                                <input name="roomid" type="text">
                            </div>
                            <div class=" input">
                                <label class="required" for="service">نوع سرویس:</label><br>
                                <input name="service" list="servises">

                                <datalist id="servises">
                                    <option value="بدون وعده غذایی">
                                    <option value="فقط صبحانه">
                                    <option value="هر سه وعده">
                                </datalist>
                            </div>
                            <div class=" input">
                                <label class="required" for="in">تاریخ ورود:</label><br>
                                <input name="in" data-jdp>
                            </div>
                            <div class=" input">
                                <label class="required" for="out">تاریخ خروج:</label><br>
                                <input name="out" data-jdp>
                            </div>
                            <div class=" input">
                                <label class="required" for="fname">تعداد افراد:</label><br>
                                <input name="fname" min="1" type="number">
                            </div>
                            <div class=" input">
                                <label for="desc" >توضیحات:</label><br>
                                <input name="desc" type="text">
                            </div>
                            <div class="flex ltr w-full">
                                <a class="btn m-submit  btn-blue btn-sm" href="#">افزودن</a>
                                <a class="btn m-submit btn-red bg-red btn-sm" href="#">انصراف</a>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
        <%- include('./includes/foot.ejs') -%>