<%- include('./includes/head.ejs') -%>
    <div class="fixed w-full h-50">
        <%- include('./includes/header.ejs') -%>
            <%- include('./includes/side.ejs') -%>
    </div>

    <%- include('./includes/header.ejs') -%>
        <div class="flex align-start ">
            <%- include('./includes/side.ejs') -%>
                <div class=" min-h-full w-full pr-20">
                    <div class="bg-dash absolute "> </div>
                    <div class="bg-white m-table2 br-8 p-20">
                        <div class="flex ju-sb ">
                            <h3> <%= job %></h3>
                            <h3>   شناسه اتاق:  <%= roomE.id %>  </h3>
                            <a class="btn  btn-red bg-red btn-sm" href="/rooms/edit?id=<%= roomE.id %>">بازنشانی فرم</a>
                        </div>

                        <form class="form" method="post"  action="/rooms/edit" autocomplete="off">
                            <div class=" input">
                                <label for="name" class="required">نام:</label><br>
                                <input name="name" type="text" disabled value=<%=roomE.name%>>
                                <input type="hidden" name="name" type="text" maxlength="21" value=<%=roomE.name%>>
                            </div>
                            <div class=" input">
                                <label class="required" for="description">توضیحات:</label><br>
                                <input name="description" type="text" value=<%=roomE.description%>>
                            </div>
                            <div class=" input">
                                <label class="required" for="type" >نوع اتاق:</label><br>
                                <select name="type">
                                    <option value="یک تخته"<% if (roomE.type=="یک تخته") { %>selected<% } %>>یک تخته</option>
                                    <option value="دو تخته"<% if (roomE.type=="دو تخته") { %>selected<% } %>>دو تخته</option>
                                    <option value="دو تخته VIP"<% if (roomE.type=="دو تخته VIP") { %>selected<% } %>>دو تخته VIP</option>
                                    <option value="پنت هاوس"<% if (roomE.type=="پنت هاوس") { %>selected<% } %>>پنت هاوس</option>
                                    <option value="اتاق کنفرانس"<% if (roomE.type=="اتاق کنفرانس") { %>selected<% } %>>اتاق کنفرانس</option>
                                    <option value="تالار"<% if (roomE.type=="تالار") { %>selected<% } %>>تالار</option>
                                    <option value="سالن آمفی تئاتر"<% if (roomE.type=="سالن آمفی تئاتر") { %>selected<% } %>> سالن آمفی تئاتر</option>
                                  </select>
                            </div>
                            <div class=" input">
                                <label class="required" for="cost">اجاره پایه:</label><br>
                                <input name="cost" type="number" id="costInput" onkeyup="cost1(this.value)" maxlength="15" value=<%=roomE.cost%>>
                                <p id="cost"></p>
                                <script>
                                    let input = document.getElementById("costInput");
                                    cost1(input.value);
                                </script>
                            </div>
                            <div class="flex ltr w-full">
                                <input class="btn m-submit  btn-blue btn-sm" type="submit" value="ویرایش">
                                <a class="btn m-submit btn-red bg-red btn-sm" href="/rooms/main">انصراف</a>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
        <%- include('./includes/foot.ejs') -%>